.textile-design-service {
  .service-name {
    margin-top: 5rem;
    text-align: center;
    font-size: 45px;
    margin-bottom: 2rem;
    font-weight: bolder;
    font-family: "Noah Grotesque";
    color: #d7af68;
    text-transform: uppercase;
    text-decoration: revert;
    letter-spacing: 3px;
  }

  .info-panel-images .card-1 .view-first {
    h2 {
      margin-top: 8rem;
    }

    .mask a {
      top: 10px !important;
    }
  }

  .info-panel-images {
    position: relative;
    top: 0 !important;
    margin-top: 5rem;
  }
}
